{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    // Line length
    "max-len": "off",
    // No semicolons required
    "semi": "off",
    // No trailing comma shenanigans
    "comma-dangle": "off",
    // Disable `no-console` rule
    "no-console": "off",
    // Give a warning if identifiers contain underscores
    "no-underscore-dangle": "warn",
    // Default to single quotes and raise an error if not single
    "quotes": ["error", "single"],
    // Allow Lambdas with a full body
    "arrow-body-style": "off",
    // Allow named functions for callbacks. Lambdas aren"t a silver bullet
    "prefer-arrow-callback": "off",
    // We prefer reading code like prose
    "no-use-before-define": "off",
    // We like newlines for conditional/trycatch blocks
    "brace-style": ["warn", "stroustrup"],

    "import/prefer-default-export": "off",

    // Incoming: React Definitions. Slightly altered version of Airbnb's Rules

    // Specify whether double or single quotes should be used in JSX attributes
    "jsx-quotes": ["error", "prefer-double"],

    // Forbid setState in componentDidMount
    "react/no-did-mount-set-state": "off",

    // Forbid certain propTypes (any, array)
    "react/forbid-prop-types": ["error", { "forbid": ["any", "array"] }],

    // Validate props indentation in JSX
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent-props.md
    "react/jsx-indent-props": ["error", 2],

    // Restrict file extensions that may be required
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/require-extension.md
    "react/require-extension": "off",

    // Prevent extra closing tags for components without children
    "react/self-closing-comp": "warn",

    // Enforce spaces before the closing bracket of self-closing JSX elements
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-space-before-closing.md
    "react/jsx-space-before-closing": ["error", "always"],

    // Enforce component methods order
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "lifecycle",
        "/^on.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }],

    // Enforce JSX indentation
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent.md
    "react/jsx-indent": ["error", 2],

    // Only .jsx files may have JSX
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md
    "react/jsx-filename-extension": "off"
  }
}